body {
    text-align: center;
    background: url("Images/background.jpeg") no-repeat;
    background-size: cover;
}

h1 {
    background-color: rgb(255, 209, 129);
}

.text-color {
    color: red;
}